Repository deranjer/card-wizard: changes, and which pre-commit hooks are due for each by the changed paths.
All: frontend-tests, frontend-typecheck

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
        exclude: ^frontend/tsconfig\.json$  # tsconfig.json may have comments

  # Go hooks
  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
        name: go fmt
        entry: go fmt ./...
        language: system
        pass_filenames: false
      - id: go-vet
      - id: go-imports
        name: goimports
        entry: goimports -w
        language: system
        types: [go]
        pass_filenames: true
      - id: go-unit-tests
      - id: go-build
      - id: go-mod-tidy

  # Frontend hooks (JavaScript/TypeScript)
  - repo: local
    hooks:
      - id: frontend-tests
        name: Frontend Tests
        entry: bash -c 'cd frontend && npm test'
        language: system
        pass_filenames: false
        files: ^frontend/

      - id: frontend-typecheck
        name: Frontend Type Check
        entry: bash -c 'cd frontend && npx tsc --noEmit'
        language: system
        pass_filenames: false
        files: ^frontend/.*\.(ts|tsx)$

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
Due: none

Notes added by 'git notes add'
  f690e14fbc4b1e4e5fa1764ebdc7959283c5f51e
Due: none

fix: fixing some github actions, adding README screenshots
  .github/workflows/release.yml
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
  README.md
  docs/assets/card_design.png
  docs/assets/card_preview.png
  docs/assets/deck_details.png
  frontend/package.json.md5
Due: frontend-tests

Notes added by 'git notes add'
  8e871fcb7ed910fac1301cd38007b5e0fe5ba4c3
Due: none

fix: removing gh action tests (too annoying to fix) and fixing up semantic release
  .github/workflows/semantic-release.yml
  .github/workflows/test.yml
  .releaserc.json
  package-lock.json
  package.json
Due: none

fix: another semantic release fix
  package-lock.json
  package.json
Due: none

revving down semantic-release-action
  .github/workflows/semantic-release.yml
Due: none

fix: trying to force an install of deps
  .github/workflows/semantic-release.yml
  package-lock.json
  package.json
Due: none

fix: force specifying plugins to use
  .github/workflows/semantic-release.yml
Due: none

fix: another force try
  .github/workflows/semantic-release.yml
Due: none

fix: fuck non-pyhon semantic release
  package-lock.json
  package.json
Due: none

fix: moving to golang semantic release
  .github/workflows/semantic-release.yml
  .releaserc.json
  package-lock.json
  package.json
Due: none

fix: naming schemes
  .github/workflows/semantic-release.yml
Due: none

fix: outputs from semantic release
  .github/workflows/semantic-release.yml
Due: none

fix: linux build flags fixed
  .github/workflows/semantic-release.yml
Due: none

fix: fixing filenames
  .github/workflows/semantic-release.yml
Due: none

feat: switching to multi-deck paradigm, more text formatting options
  app.go
  build/appicon.png
  example_deck/example_game.json
  example_deck/weapon_deck.json
  frontend/src/App.tsx
  frontend/src/components/CardRender.tsx
  frontend/src/components/DeckDetails.tsx
  frontend/src/components/DeckPreview.tsx
  frontend/src/components/GameView.tsx
  frontend/src/components/Help.tsx
  frontend/src/components/StyleEditor.tsx
  frontend/src/types.ts
  frontend/wailsjs/go/main/App.d.ts
  frontend/wailsjs/go/main/App.js
  frontend/wailsjs/go/models.ts
  internal/deck/deck.go
  internal/game/game.go
Due: frontend-tests, frontend-typecheck

feat: adding in shapes, other qol features
  README.md
  docs/assets/card_design.png
  docs/assets/card_preview.png
  docs/assets/deck_details.png
  example_deck/example_game.json
  frontend/src/components/BottomControlBar.tsx
  frontend/src/components/CardRender.tsx
  frontend/src/components/DeckDetails.tsx
  frontend/src/components/GameView.tsx
  frontend/src/components/Help.tsx
  frontend/src/components/StyleEditor.tsx
  frontend/src/types.ts
  frontend/src/utils/Shapes.ts
Due: frontend-tests, frontend-typecheck

feat: adding in asset manager, qol features, export features
  README.md
  app.go
  frontend/src/components/AssetGallery.tsx
  frontend/src/components/BottomControlBar.tsx
  frontend/src/components/CardRender.tsx
  frontend/src/components/DeckDetails.tsx
  frontend/src/components/DeckExport.tsx
  frontend/src/components/GameView.tsx
  frontend/src/components/Help.tsx
  frontend/src/components/KeyStatsModal.tsx
  frontend/src/components/Layout.tsx
  frontend/src/components/SpreadsheetView.tsx
  frontend/src/components/StyleEditor.tsx
  frontend/src/types.ts
  frontend/wailsjs/go/main/App.d.ts
  frontend/wailsjs/go/main/App.js
  frontend/wailsjs/go/models.ts
  internal/deck/deck.go
  main.go
Due: frontend-tests, frontend-typecheck

chore: phase 0 - hygiene, dead-code removal, and shape/font data-loss fix
  .github/copilot-instructions.md
  .github/workflows/semantic-release.yml
  .gitignore
  CHANGELOG.md
  app.go
  build/test.exe
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/components/AssetGallery.tsx
  frontend/src/components/GameView.tsx
  frontend/src/components/Layout.tsx
  frontend/src/declarations.d.ts
  frontend/src/hooks/useImageDataURL.ts
  frontend/src/main.tsx
  frontend/src/utils/cardRenderer.ts
  frontend/vite.config.ts.timestamp-1764120004641-9432ce8b083e8.mjs
  frontend/wailsjs/go/main/App.d.ts
  frontend/wailsjs/go/main/App.js
  frontend/wailsjs/go/models.ts
  go.mod
  internal/archive/archive.go
  internal/cards/service.go
  internal/deck/deck.go
  internal/deck/deck_test.go
Due: frontend-tests, frontend-typecheck

chore: phase 1 - lint/format tooling, CI gate, and dead-code cleanup
  .editorconfig
  .github/workflows/ci.yml
  .golangci.yml
  .pre-commit-config.yaml
  app.go
  frontend/.prettierignore
  frontend/.prettierrc.json
  frontend/eslint.config.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/AssetGallery.tsx
  frontend/src/components/BottomControlBar.tsx
  frontend/src/components/CardRender.tsx
  frontend/src/components/DeckDetails.tsx
  frontend/src/components/DeckExport.tsx
  frontend/src/components/DeckPreview.tsx
  frontend/src/components/GameView.tsx
  frontend/src/components/Help.test.tsx
  frontend/src/components/Help.tsx
  frontend/src/components/ImageLoader.tsx
  frontend/src/components/KeyStatsModal.tsx
  frontend/src/components/PrintPreview.tsx
  frontend/src/components/SpreadsheetView.tsx
  frontend/src/components/StyleEditor.tsx
  frontend/src/main.tsx
  frontend/src/setupTests.ts
  frontend/src/style.css
  frontend/src/types.ts
  frontend/src/utils/Shapes.ts
  frontend/src/utils/cardRenderer.ts
  frontend/src/vite-env.d.ts
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  internal/pdf/layout.go
  internal/pdf/pdf_generator.go
Due: frontend-tests, frontend-typecheck

ci: reconcile lock file and stub the go:embed dir
  .github/workflows/ci.yml
  frontend/package-lock.json
Due: frontend-tests

ci: regenerate package-lock.json with npm 10 for runner compatibility
  frontend/package-lock.json
Due: frontend-tests

chore: phase 2 - dependency upgrades (moderate scope)
  README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/package.json.md5
  frontend/src/components/DeckExport.tsx
  frontend/src/components/GameView.tsx
  frontend/src/utils/cardRenderer.ts
  go.mod
  go.sum
  internal/pdf/pdf_generator.go
  internal/pdf/pdf_generator_test.go
Due: frontend-tests, frontend-typecheck

refactor(frontend): phase 3a - Jotai game store + deck factory
  .pre-commit-config.yaml
  frontend/package-lock.json
  frontend/package.json
  frontend/package.json.md5
  frontend/src/components/GameView.test.tsx
  frontend/src/components/GameView.tsx
  frontend/src/setupTests.ts
  frontend/src/store/game.test.ts
  frontend/src/store/game.ts
  frontend/src/types.ts
Due: frontend-tests, frontend-typecheck

refactor(frontend): phase 3b - unify image loading via /local-image
  frontend/src/components/ImageLoader.tsx
  frontend/src/hooks/useAssetUrl.test.ts
  frontend/src/hooks/useAssetUrl.ts
Due: frontend-tests, frontend-typecheck

refactor(frontend): phase 3c - decompose SpreadsheetView
  frontend/src/components/SpreadsheetView.test.tsx
  frontend/src/components/SpreadsheetView.tsx
  frontend/src/components/spreadsheet/ResizableHeaderCell.tsx
  frontend/src/components/spreadsheet/SheetRow.tsx
Due: frontend-tests, frontend-typecheck

perf(frontend): phase 3d (partial) - cap StyleEditor undo history
  frontend/src/components/StyleEditor.tsx
Due: frontend-tests, frontend-typecheck

refactor(frontend): phase 3e - extract shared image-export routine
  frontend/src/components/DeckExport.tsx
  frontend/src/components/GameView.tsx
  frontend/src/utils/exportImages.test.tsx
  frontend/src/utils/exportImages.tsx
Due: frontend-tests, frontend-typecheck

perf(frontend): phase 3d - StyleEditor render-churn fixes
  frontend/src/components/StyleEditor.test.tsx
  frontend/src/components/StyleEditor.tsx
Due: frontend-tests, frontend-typecheck

fix: phase 4a - PDF/print renders per card, not per style
  frontend/package-lock.json
  frontend/src/components/GameView.test.tsx
  frontend/src/components/PrintPreview.tsx
  frontend/src/utils/cardRenderer.ts
  frontend/src/utils/exportImages.tsx
  frontend/wailsjs/go/models.ts
  internal/deck/deck.go
  internal/pdf/pdf_generator.go
  internal/pdf/pdf_generator_test.go
Due: frontend-tests, frontend-typecheck

fix: phase 4 - save-format versioning, image MIME, path heuristic
  app.go
  frontend/src/types.ts
  frontend/wailsjs/go/models.ts
  internal/game/game.go
  internal/game/game_test.go
Due: frontend-tests, frontend-typecheck

perf(frontend): phase 5 - memoisation, lazy mounting, debounced cells
  docs/perf-notes.md
  frontend/package-lock.json
  frontend/src/components/AssetGallery.tsx
  frontend/src/components/BottomControlBar.tsx
  frontend/src/components/CardRender.tsx
  frontend/src/components/DeckPreview.tsx
  frontend/src/components/SpreadsheetView.test.tsx
  frontend/src/components/StyleEditor.tsx
  frontend/src/components/preview/LazyCard.tsx
  frontend/src/components/spreadsheet/DebouncedTextCell.test.tsx
  frontend/src/components/spreadsheet/DebouncedTextCell.tsx
  frontend/src/components/spreadsheet/SheetRow.tsx
Due: frontend-tests, frontend-typecheck

fix: phase 6 - archive/path/lifecycle hardening
  app.go
  app_test.go
  internal/archive/archive.go
  internal/archive/archive_test.go
  main.go
Due: none

refactor: phase 7 - service layer, xlsx dedupe, out-of-band card images, fonts in working dir
  .golangci.yml
  app.go
  frontend/src/components/PrintPreview.tsx
  frontend/src/types.ts
  frontend/wailsjs/go/main/App.d.ts
  frontend/wailsjs/go/main/App.js
  frontend/wailsjs/go/models.ts
  internal/assets/assets.go
  internal/assets/assets_test.go
  internal/deck/deck.go
  internal/pdf/pdf_generator.go
  internal/pdf/pdf_generator_test.go
  internal/project/workspace.go
  internal/project/workspace_test.go
  internal/xlsx/xlsx.go
  internal/xlsx/xlsx_test.go
  main.go
Due: frontend-tests, frontend-typecheck

fix: normalise backslashes in asset-name guards for Linux
  app.go
  internal/assets/assets.go
Due: none

feat: validate versioned project schema
  README.md
  app.go
  internal/game/game-v1.schema.json
  internal/game/game.go
  internal/game/game_test.go
  internal/game/schema.go
Due: none

feat: lazy-load heavy workspace tabs
  README.md
  frontend/src/components/GameView.tsx
Due: frontend-tests, frontend-typecheck

fix: normalize SVG dimensions before image export
  frontend/src/utils/exportImages.tsx
  frontend/src/utils/prepareExportImages.test.ts
  frontend/src/utils/prepareExportImages.ts
Due: frontend-tests, frontend-typecheck
